* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #b30000;
}

header#cabecalho-principal {
  background-color: #dddddd;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#pontuacao-game {
  background-color: #61b1ea;
  padding: 10px;
  color: #fff;
  border-radius: 30px;
  padding: 5px 55px;
  font-size: 20px;
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-left: 15px;
}

#pontuacao-game::before {
  content: "";
  display: inline-block;
  background-image: url("/img/moeda.png");
  background-position: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

#nome-jogo {
  font-weight: bolder;
  font-size: 27px;
  margin-right: 20px;
}

#corpo {
  display: flex;
  margin: 15px;
}

#corpo #esquerda {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  color: #fff;
}

#corpo #esquerda #cor-atual {
  margin-top: 20px;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 15px;
}

#btn-responder {
  background-color: transparent;
  color: white;
  margin-top: 10px;
  font-size: 17px;
  font-weight: bold;
  padding: 15px 45px;
  border: 3px solid #fff;
  border-radius: 8px;
  cursor: pointer;
}

#direita img {
  max-width: 320px;
}

#direita {
  width: 40%;
}

#rodape {
  background-color: rgb(26, 26, 32);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  #pontuacao-game {
    padding: 5px 30px;
    font-size: 15px;
  }

  #nome-jogo {
    font-size: 20px;
  }

  #corpo #esquerda {
    width: 50%;
  }

  #corpo #esquerda #cor-atual {
    margin-top: 20px;
    height: 170px;
    width: 170px;
    border: 10px solid black;
    border-radius: 15px;
  }

  #btn-responder {
    font-size: 15px;
    padding: 12px 36px;
    border: 3px solid #fff;
    cursor: pointer;
  }

  #direita img {
    max-width: 260px;
  }

  #direita {
    width: 50%;
  }
}

@media (max-width: 525px) {
  #pontuacao-game {
    padding: 5px 23px;
    font-size: 14px;
  }

  #nome-jogo {
    font-size: 18px;
  }

  #corpo {
    flex-direction: column;
    align-items: center;
  }

  #corpo #esquerda {
    width: 50%;
  }

  #corpo #esquerda h3 {
    text-align: center;
  }

  #corpo #esquerda #cor-atual {
    margin-top: 20px;
    height: 150px;
    width: 150px;
    border: 10px solid black;
    border-radius: 15px;
  }

  #btn-responder {
    font-size: 15px;
    padding: 12px 30px;
    border: 3px solid #fff;
    cursor: pointer;
  }

  #direita img {
    margin-top: 40px;
    max-width: 200px;
  }

  #direita {
    width: 40%;
  }

  #rodape {
    display: none;
  }
}
